<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加书籍</title>
</head>
<body>
<h2>添加英雄</h2>
<form action="{% url 'booktest:addherohandler' %}" method="post">
    英雄名称:<input type="text" name="heroname"><br>
    英雄性别：男<input type="radio" name="gender" value="1" checked>女<input type="radio" name="gender" value="0"><br>
    英雄扮演者：<input type="text" name="herocontent"><br>
    <input type="hidden" value="{{bookid}}" name="bookid"><br>
    <input type="submit" value="添加">
</form>

</body>
</html>